body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 40px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  background-color: #292929;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.user-form {
  margin-bottom: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.user-question {
  flex-grow: 1;
  height: 50px;
  padding: 16px;
  margin-right: 8px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  background-color: #424242;
  color: #ffffff;
}

.check-button {
  border: none;
  border-radius: 16px;
  background-color: #000000;
  color: #ffffff;
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.response-section {
  margin-top: 20px;
}

.response-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.response-box {
  border: 1px solid #616161;
  border-radius: 16px;
  padding: 16px;
  font-size: 20px;
  background-color: #424242;
  color: #ffffff;
  height: 300px;
  resize: vertical;
}

.attribution {
  text-align: center;
  color: #808080;
  font-size: 18px;
  margin-top: 40px;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  color: #808080;
}

.file-input-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.file-label {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.file-names {
  color: #808080;
}
