<!DOCTYPE html>
<html>
  <head>
    <title>Chat Checker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css')  }}"
  </head>
  <body>

    <div class="main-container">
      <div class="main-title">chat_checker</div>

      <form class="user-form" action="/" method="POST">
        <input type="text" name="user-question" class="user-question" placeholder="Enter your question" />
        <button type="submit" id="checkButton">Check</button>
      </form>

      <div class="response-section">
        <div class="response-title">Response:</div>
        {{user_prompt}}
      </div>
    </div>

    <div class="team-title">
      <p>Product of <strong><em>Hack-A-thletes</em</strong></p>
    </div>

  </body>
</html>
